@use "variables";
@use "mixinsfunc";


.hero{
    height: 50rem;
    background-image: url("../img/imagen-flexbox-min.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h1{
        font-size: 6rem;
        font-weight: 700;
    }
    p{
        font-weight: 300;
        font-size: 2.5rem;
        margin: 1.5rem 0;
    }

}

.contenedor-textos{
    padding: 0;
    height: 100%;
    @include mixinsfunc.flex_center_column(center);
    color: variables.$colorNeutral;
    text-align: center;
}

