// Menu de navegación

@use "variables";
@use "mixinsfunc";

.menu-navegacion {
  height: 7rem;
  padding: 0;
  @include mixinsfunc.flex_center_row(space-between);
}

.logo {
  img {
    height: 7rem;
    width: 100%;
    display: block;
  }
}

.enlaces {
  li {
    display: inline-block;
    list-style: none;
    margin:1rem;
  }

  a {
    color: variables.$colorFondo;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
}
